.LabelName {
  padding-left: 8px;
  font-family: UniqloPro;
  text-transform: uppercase;
  width: 98px;
  height: 31px;
}

/* .labelStyle {
  position: relative;
  top: 10px;
  left: 20px;
} */

.NumOf {
  font-size: 16px;
  font-family: UniqloPro;
  color: #636262;
  line-height: 1.5;
  margin-left: 5px;
}

.LineItem {
  height: 30.5px;
  width: 98px;
  padding-bottom: 8px;
}


.LineItem:hover {
  color: #636262;
  cursor: pointer;
}

.plusSign {
  position: relative;
  z-index: 40;
  top: 17px;
  left: 1px;
  display: block;
}

.labelStyle:hover .plusSign {
  fill: black;
}

/* .LabelName::before {
  content: '';
  left: -5px; top: -10px;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
} */

/* .hailMary {
  width: 100%;
  height: 100%;
} */
/* .labelStyle::before {
  content: " ";
  background-image: url('../plus.svg')
} */

/* .check::before {
  content: "hello";
  display: block;
  height: 10px;
  width: 10px;
} */