.LabelName {
  padding-left: 8px;
  font-family: UniqloPro;
  text-transform: uppercase;
  width: 98px;
  height: 31px;
}

.NumOf {
  font-size: 16px;
  color: #636262;
  line-height: 1.5;
  margin-left: 5px;
}