

.OverallRatingContainer {
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
  margin-top: 0 !important;
  margin: 0;
  height: auto !important;
  width: auto !important;
  padding-left: 0;
  float: left;
}

.OverallRatingContainerStar {
  margin-left: 43px;
  float: left;
  margin-bottom: 15px;
  line-height: 20px;
}

.OverallRatingEntry {
  width: 266px;
  text-align: center;
  clear: both;
}

.RatingOverall {
  overflow: hidden;
  clear: both;
}

.Label {
  font-family: UniqloPro;
  font-weight: 400!important;
  display: block;
  float: none;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  padding-right: 0;
  padding-bottom: 3px;
}

.NormalImage {
  padding-right: 0;
  text-align: center;
  width: 266px;
  line-height: normal;
  float: left;
}

.SecondaryRatingContainer {
  clear: both !important;
  display: block !important;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  font-size: 16px;
  font-family: "DIN Next W01 Regular",Trebuchet MS,sans-serif;
}

.RatingContainerSlider {
  /* display: inline-block; */
  border: none;
  margin: 0;
  font-weight: 400;
  text-align: left !important;
  line-height: 20px;
  height: 41px;
  margin-bottom: 13px;
}

.RatingEntry {
  width: 266px;
  text-align: center;
  margin-bottom: 15px;
  clear: both;
  display: block;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px; 
}

.RatingHeader {
  font-size: 16px;
  display: inline-block;
  float: left;
  text-align: left;
  font-weight: bold;
  width: 60px;
  padding-right: 15px;
  text-transform: uppercase;
  line-height: normal;
  padding-bottom: 3px;
  margin: 0;
}

.RatingSlider {
  display: inline-block;
  clear: both !important;
  font-size: 16px;
  padding-bottom: 18px;
  zoom: 1;
  position: relative;
  margin: 0;
  font-weight: 400;
  text-align: center;
}

.RatingSliderLabel {
  font-family: UniqloPro,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
  font-weight: 400!important;
  top: 20px;
  color: #636262;
  font-size: 12px;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.RatingSliderImage {
  float: left;
  margin: 0;
  font-weight: 400;
  display: block;
  font-size: 16px;
  text-align: center;
}

.Sprite {
  margin: 0 auto;
  border-width: 0;
  overflow: hidden;
  line-height: 20px;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.RatingSliderLabelTwo {
  font-family: UniqloPro,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
  font-weight: 400!important;
  top: 20px;
  color: #636262;
  font-size: 12px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}