.NormalImage {
  padding-right: 0;
  text-align: center;
  width: auto;
  line-height: normal;
  float: left;
}

/* .Label {
  font-family: UniqloPro;
  font-weight: 400!important;
  display: block;
  float: none;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  padding-right: 0;
  padding-bottom: 3px;
} */